# Jupyter Notebook
.ipynb_checkpoints

# File nvim uses to write the notebooks.
*.ju.py

./src/__pycache__

# temporal files where we check somethings before doing them in the notebook
a.ipynb
output.txt
